@function color ($color-name) {
    @return map-get ($colors, $color-name);

}

$primary-color: #FFFFFF;
$secondary-color: #1b1b1b;
$tertiary-color: #d32f2f;
$title-color: #000000;

/* $primary-color: #1b1b1b;
$secondary-color: #424242;
$tertiary-color: #d32f2f; */ 