@import "./_fonts.scss";
@import "./_variables.scss"
@import "./header";
html {
  font-size: 62.5%;
}
body {
  background-color: #1b1b1b;
  height: 100%;
}
h1{
    color: white;
}
.flex-parent{
  background-color: #424242;
  height: 200vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  font-size: 1000%;
}
.flex-child{
  background-color: #ffb2dd;
  margin: 30px;
  height: 200vh;
  color: white;
}
#flex-grow-1 {
  flex-grow: 1;
}
#flex-grow-2 {
  flex-grow: 2;
}
