@import "./_fonts.scss";
@import "./_variables.scss";
@import "./_header";
html {
  font-size: 62.5%;
}
body {
  background-color: $primary-color;
  height: 100%;
}
.title {
  color: $title-color;
  font-size: 300%;
  text-align: center;
}
h1 {
  color: $primary-color;
  text-align: center;
}
h2 {
  color: $primary-color;
  font-size: 62.5%;
  text-align: center;
}
.burger {
  font-size: 30%;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.flex-parent {
  background-color: $secondary-color;
  font-size: 500%;
}
.flex-parent2 {
  background-color: $secondary-color;
  font-size: 1000%;
}
.flex-child {
  background-color: $tertiary-color;
  margin: 2vh;
  height: 100vh;
  color: $primary-color;
}
.flex-child2 {
  background-color: $tertiary-color;
  margin: 2vh;
  height: 100vh;
  color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
}
.item {
  width: 35rem;
  height: 35rem;
}
.item2 {
  width: 35rem;
  height: 35rem;
}
.flex-child2 {
  display: flex;
  align-content: flex-end;
}
.hamburger {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1vh;
  font-size: 30%;
}
.fries {
  font-size: 62.5%;
}
