@import "./_fonts.scss";
@import "./_variables.scss";
@import "./_header";
html {
  font-size: 62.5%;
}
body {
  background-color: #1b1b1b;
  height: 100%;
}
h1{
    color: white;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  align-content: space-around;
}
.flex-parent{
  background-color: #424242;
  height: 200vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  font-size: 1000%;
}
.flex-child{
  background-color: #ffb2dd;
  margin: 30px;
  height: 200vh;
  color: white;
}
.item {
  position: relative;
  float: center;
  width:  35rem;
  height: 35rem;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
.item2 {
  position: relative;
  float: center;
  width:  35rem;
  height: 35rem;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}